RHT_OCP4_MASTER_API=https://api.eu45.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.eu45.prod.nextcle.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.eu45.prod.nextcle.com
RHT_OCP4_DEV_USER=zhmgxm
RHT_OCP4_DEV_PASSWORD=d3b83da74c22425783a9
RHT_OCP4_GITHUB_USER=Wainaina3
RHT_OCP4_QUAY_USER=wainaina3
